<div class="budget-list__text">
  <div>
    <h5 class="card__title card--list__heading">
      <%= cell("decidim/budgets/project_selected_status", model) %>

      <%= link_to resource_path, class: "card__link" do %>
        <%= resource_title %>
      <% end %>
    </h5>

    <p class="card__text card-list__description">
      <span class="show-for-small hide-for-medium" aria-hidden="true">
        <strong><%= budget_to_currency(model.budget_amount) %></strong>
        <br><br>
      </span>

      <%= resource_description_teaser %>
      <br><br>

      <%= link_to resource_path, class: "card__link" do %>
        <span aria-hidden="true">
          <%= t(".more_info") %>
          <%= icon "chevron-right", aria_hidden: true %>
        </span>
        <span class="show-for-sr">
          <%= t(".more_info_with_title", title: resource_title) %>
        </span>
      <% end %>
    </p>
  </div>
</div>
