<%# Current workflown tarkastus ei toimi kun on monta budjettia, pitäis olla voted?(budget) %>
<% if current_user && current_component.current_settings.votes == "enabled" && !current_workflow.voted?(budget) %>
  <div class="reveal"
    id="exitWarningModal"
    data-close-on-click="false"
    data-close-on-esc="false"
    data-reveal>
    <h2><%= t(".title") %></h2>
    <p><%= t(".body") %></p>

    <div class="reveal__buttons">
      <%= link_to t(".sign_out"), decidim.destroy_user_session_path, method: :delete, class: "button warning" %>
      <%= link_to "", decidim.destroy_user_session_path(translation_suffix: :timed_out), method: :delete, id: "reveal-hidden-sign-out", class: "hide" %>
      <%= button_to t(".continue_voting"),
        decidim.heartbeat_path,
        id: "continueVoting",
        class: "button primary",
        remote: true,
        method: :post %>
    </div>
  </div>
<% end %>
